/CountIncreasing.class
/DiamondPattern.class
/HollowDiamondPyramid.class
/HollowReverseTrianglePattern.class
/NumberChangingPyramid.class
/NumberIncreasingPyramid.class
/NumberIncreasingReversePyramid.class
/NumberTriangular.class
/PalindromeTriangular.class
/Pattern1.class
/Pattern_Kedar.class
/RhombusPattern.class
/RightPasclesTriangle.class
/SquareHolloPattern.class
/SqureFillPattern.class
/ZeroOneTriangle.class
